*{
    font-family: "Roboto";
}
.main-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #e8e6e7;
    min-height:100vh;
    min-width:80vw;
    

}
.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input{
    width:700px;
    border-radius:20px;
    height:23px;
    margin-top:10px;
    padding:10px;
    border:1px solid #a6a2a5;
}
button{
    border-radius:20px;
    width:100px;
    height:35px;
    padding:9px;
    margin-top:10px;
    margin-left:10px;
    color:white;
    cursor:pointer;
    background-color: #362f34;
    border:1px solid #362f34;
}
p{
    margin-top: 20px;
    font-size:18px;
    color:#696668;
    margin-right:20px;
}
.movies-list{
    display: flex;
    flex-direction:column;
    margin-top:10px;
    justify-content: center;
    align-items:center;
}




/* ////////////////////////// */




   .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination a {
    padding: 8px 16px;
    background-color: #362f34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color:white;
  }
  
  .page-info {
    font-size: 14px;
    margin: 0 10px;
  }
  .pagination li {
    list-style: none;
  }
  
  .pagination li.dots {
    display: none;
  }
  

   
  /* Small devices (phones, 576px and down) */
  @media (max-width: 576px) {
    .main-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: #e8e6e7;
        min-height:100vh;
        min-width:80vw;
    
    }
    input{
        width:300px;
        border-radius:17px;
        height:19px;
        margin-top:10px;
        padding:6px;
        border:1px solid #a6a2a5;
    }
    button{
        border-radius:20px;
        width:70px;
        height:35px;
        padding:5px;
        font-size:10px;
        margin-top:10px;
        margin-left:5px;
        color:white;
        cursor:pointer;
        background-color: #362f34;
        border:1px solid #362f34;
    }
    p{
        margin-top: 20px;
        font-size:14px;
        color:#696668;
        margin-right:2px;
    }

   
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    
    .main-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: #e8e6e7;
        min-height:100vh;
        min-width:100vw;
    
    }
    input{
        width:500px;
        border-radius:17px;
        height:22px;
        margin-top:10px;
        padding:8px;
        border:1px solid #a6a2a5;
    }
    button{
        border-radius:20px;
        width:80px;
        height:40px;
        padding:5px;
        font-size:14px;
        margin-top:10px;
        margin-left:5px;
        cursor:pointer;
        color:white;
        background-color: #362f34;
        border:1px solid #362f34;
    }
    p{
        margin-top: 20px;
        font-size:16px;
        color:#696668;
        margin-right:2px;
    }

  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .main-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: #e8e6e7;
        min-height:100vh;
        min-width:100vw;
    
    }
    input{
        width:600px;
        border-radius:17px;
        height:24px;
        margin-top:10px;
        padding:9px;
        border:1px solid #a6a2a5;
    }
    button{
        border-radius:20px;
        width:90px;
        cursor:pointer;
        height:40px;
        padding:10px;
        font-size:16px;
        margin-top:10px;
        margin-left:5px;
        color:white;
        background-color: #362f34;
        border:1px solid #362f34;
    }
    p{
        margin-top: 20px;
        font-size:20px;
        color:#696668;
        margin-right:2px;
    }
    
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

    .main-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: #e8e6e7;
        min-height:100vh;
        min-width:100vw;
    
    }
    input{
        width:700px;
        border-radius:17px;
        height:25px;
        margin-top:10px;
        padding:10px;
        border:1px solid #a6a2a5;
        font-size:17px;
    }
    button{
        border-radius:22px;
        width:90px;
        height:40px;
        cursor:pointer;
        padding:10px;
        font-size:17px;
        margin-top:10px;
        margin-left:5px;
        color:white;
        background-color: #362f34;
        border:1px solid #362f34;
    }
    p{
        margin-top: 22px;
        font-size:20px;
        color:#696668;
        margin-right:10px;
    }
    
  }
  .nothing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }
  .loader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }